{% load static %}

{% url 'core:index' as index %}
{% url 'core:posts' as posts %}
{% url 'core:favorites' as favorites %}
{% url 'core:about' as about %}
{% url 'core:contact' as contact %}
{% url 'core:logout' as logout %}
{% url 'core:login' as login %}
    


<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
<div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center">
    <!-- Uncomment the line below if you also wish to use an image logo -->
    <!-- <img src="{% static 'assets/img/logo.png' %}" alt=""> -->
    <h1>Yachaykusun</h1>
    </a>

    <nav id="navbar" class="navbar">
    <ul>
        <li><a href="{{ index }}">Inicio</a></li>
        <li><a href="{{ posts }}">Publicaciones</a></li>
        <li><a href="{{ about }}">Acerca de</a></li>
        <li><a href="{{ contact }}">Contacto</a></li>

        {% if user.is_authenticated %}

        <li><a href="{{ favorites }}">
            Mis favoritos
            </a>
        </li>
        <li><a href="{{ logout }}">
            <span class="bi-door-closed"></span>
            Cerrar Sesion
            </a>
        </li>

        {% else %}

        <li><a href="{{ login }}">
            <span class="bi-shield-exclamation"></span>
             Ingresar
            </a>
        </li>
          
        {% endif %}
    </ul>
    </nav><!-- .navbar -->

    <div class="position-relative">
    <a href="#" class="mx-2"><span class="bi-facebook"></span></a>
    <a href="#" class="mx-2"><span class="bi-twitter"></span></a>
    <a href="#" class="mx-2"><span class="bi-instagram"></span></a>

    <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
    <i class="bi bi-list mobile-nav-toggle"></i>

    <!-- ======= Search Form ======= -->
    <div class="search-form-wrap js-search-form-wrap">
        <form action="search-result.html" class="search-form">
        <span class="icon bi-search"></span>
        <input type="text" placeholder="Search" class="form-control">
        <button class="btn js-search-close"><span class="bi-x"></span></button>
        </form>
    </div><!-- End Search Form -->

    </div>

</div>

</header>
<!-- End Header -->
